/* For testing only */

*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

.columns {
  min-height: 100px;
}
/* End for testing */

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  height: 100vh;
  width: 100vw;
}

.header-container {
  height: 30%;
  width: 100%;
  position: relative;
}

.nav-header {
  height: 35%;
  width: 100%;
  position: relative;
}

.logo {
  height: 35%;
  width: 12%;
  background-color: black;
  position: absolute;
  top: 30%;
  left: 5%;
}

.nav-links {
  height: 40%;
  width: 20%;
  position: absolute;
  right: 5%;
  top: 30%;
  overflow: hidden;
}
.nav-links a {
 font-size: 2vh;
}

#link-1 {
position: absolute;
height: 100%;

padding: .1% 5%;
background-color: black;
}

#link-2 {
position: absolute;
height: 100%;
left: 25%;
padding: .1% 5%;
background-color: black;
}

#link-3 {
position: absolute;
height: 100%;
left: 50%;
padding: .1% 5%;
background-color: black;
}

#link-4 {
position: absolute;
height: 100%;
left: 75%;
padding: .1% 5%;
background-color: black;
}

.row-1 {
height: 20%;
width: 50%;
background-color: black;
margin-left: 10%;
margin-bottom: 2%;
}

.row-2 {
  height: 20%;
  width: 70%;
  background-color: black;
  margin-left: 10%;
}

.content-container {
  width: 100%;
  background-color: yellow;
  position: relative;
}

.box-1 {
  background-color: orange;
  min-height: 300px;
  width: 18.75%;
  position: absolute;
  left: 5%;
  text-align: left;
}

.box-1 img {
  width: 100%;
}

.box-1 p {
margin: 5% 3%;
}

.box-2 {
  background-color: orange;
  min-height: 300px;
  width: 18.75%;
  position: absolute;
  left: 28.75%;
}

.box-2 img {
  width: 100%;
}

.box-2 p {
margin: 5% 3%;
}

.box-3 {
  background-color: orange;
  min-height: 300px;
  width: 18.75%;
  position: absolute;
  right: 28.75%;
}

.box-3 img {
  width: 100%;
}

.box-3 p {
margin: 5% 3%;
}

.box-4 {
  background-color: orange;

  min-height: 300px;
  width: 18.75%;
  position: absolute;
  right: 5%;
}

.box-4 img {
  width: 100%;
}

.box-4 p {
margin: 5% 3%;
}

@media only screen and (max-width : 1216px) and (min-width : 701px) {

  .box-1 {
    width: 42.5%;
    position: static;
    float: left;
    margin: 0 5% 30px 5%;
  }


  .box-2 {
    width: 42.5%;
    position: static;
    float: left;
    margin: 0 5% 30px 0%;
  }

  .box-3 {
    width: 42.5%;
    position: static;
    float: left;
    margin: 0 5% 30px 5%;
  }

  .box-4 {
    width: 42.5%;
    position: static;
    float: left;
    margin: 0 5% 30px 0%;
  }

}
